body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav form {
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
nav ul li {
    flex: 1;
}
nav ul li div {
    display: flex;
}

nav ul li div input {
    flex: 1;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #333;
}

nav ul li div input:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.auth-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.auth-section h2 {
    margin-bottom: 15px;
}
.auth-section form {
    display: flex;
    flex-direction: column;
}
.auth-section form label {
    margin-bottom: 5px;
    font-weight: bold;
}
.auth-section form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.auth-section form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.auth-section form button:hover {
    background-color: #45a049;
}

.auth-reg{
    display: block;
    background-color: #333;
    margin: 0 auto;
    width: 400px;
    height: 50px;
    border-radius: 20px;
}

.auth-reg div {
    position: relative;
    height: 100%;
    width: 50%;
}

.regdiv {
    left: 50%;
    bottom: 100%;
}

.auth-reg div input {
    height: 80%;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin: 2.5% 0%;
}

/* продукция */
.products-section {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.product {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.product img {
    width: 150px;
    margin-right: 20px;
    border-radius: 5px;
}
.product h3 {
    margin: 0 0 10px 0;
}
.product-description {
    flex: 1;
}

.product .addbut {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.product .addbut:hover {
    background-color: #45a049;
}

.delbut {
    padding: 7px;
    background-color: #424242;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delbut:hover {
    background-color:#333;
}

/* поле данных */
.save-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.save-section h2 {
    margin-bottom: 15px;
}
.save-section form {
    display: flex;
    flex-direction: column;
}
.save-section form label {
    margin-bottom: 5px;
    font-weight: bold;
}
.save-section form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.save-section form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.save-section form button:hover {
    background-color: #45a049;
}

/* лист кнопок */

#info {
    margin: 0 auto;
}

.listbutton {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    justify-content: center;
}


.flbut {
    padding: 10px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.flbut:hover {
    background-color: #45a049;
}

.listbutton2 {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    justify-content: center;
}

.listbutton2 button {
    margin-left: 5px;
}

#loadtobd {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#delfrombd {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* таблицы */

table {
    margin: 0 auto;
}

table input {
    width: 100%;
    height: 100%;
}

table select {
    width: 100%;
    height: 100%;
}